body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* text-align: center; */
    background-color: #ffdcdc;
}
.container{
    display: grid;
    grid-template-columns:repeat(5, 20% [col-start]);;

    .circle-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        grid-column: 5;
        justify-self: end;
    }

    article{
        grid-column-start: 1;
        grid-column-end: 4;
        /* justify-content: ; */
    }
}

#image-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
    margin:auto;
    align-items: center; 
    
    .img-item{
        /* justify-self: s */
    }

    .img-item:nth-child(1) { grid-column: 1; } /* Item 1 in Column 1 */
    .img-item:nth-child(2) { grid-column: 2; } /* Item 2 in Column 2 */
    .img-item:nth-child(3) { grid-column: 3; } /* Item 3 in Column 3 */
    .img-item:nth-child(4) { grid-column: 4; } 
}

button {
    background-color: #ec7f7f;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background-color: #df7b7b;
    transform: scale(1.1); 
}

.api-container{
    p{
        font-style: italic;
        font-size: small;
    }
}
